<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
Requirements
{% endblock %}

{% block content %}

<h1 align = "center">Welcome to the GRAPP</h1>
<h2 style="font-size: 24px; text-align: center; color: darkred;"> Graduation Program App</h2> <br>
<div style="font-size: 20px; text-align: left;">
    <h3>You selected:</h3>
    <h3>The {{u}}</h3>
</div>



        <table>
            <tr>
                {% for header in headings %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
                {% for row in data %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>


<!--<div id = "results"></div>-->
<!--<script>-->
<!--    const resultsList = document.getElementById('results')-->
<!--    new URLSearchParams(window.location.search).forEach(value, name) => {-->
<!--        resultsList.append(`${name}: ${value}`)-->
<!--        resultsList.append(document.createElement('br'))-->
<!--    })-->
<!--</script>-->




<input type="button" value="Back" onclick="history.back(-1);">
{% endblock %}